extends /core
block head
	link(type="text/css", rel="stylesheet", href="/css/background.css")
	block css
block body
	section.content
		section.content_temp
		header
			block header
			section.right
				a.header_button(href="/logout?next=/connect/rooms") Logout
		block content
		div.message
			div= message