html
	head
		link(type="image/x-icon", rel="shortcut icon", href="/img/favicon.ico")
		block head
	body
		section.main
			block body
		script(type="text/javascript", src="/js/jquery.js")
		script(type="text/javascript", src="/js/socket.io.js")
		script(type="text/javascript", src="/js/core.js")
		block js