extends /core
block head
	link(type="text/css", rel="stylesheet", href="/css/index.css")
block body
	span.title shows.js - Video Streaming, made easy.
	div
		header
			svg.logo(version="1.1", x="0px", y="0px", viewbox="0 0 256 256")
				path(d="M218.5 0H2C.9 0 0 .9 0 2v252c0 1.1.9 2 2 2h252c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2h-35.5zm-177 216.5c-1.1 0-2-.9-2-2v-77c0-1.1.6-1.4 1.4-.6l78.2 78.2c.8.8.5 1.4-.6 1.4h-77zm175-2c0 1.1-.9 2-2 2h-36.7c-1.1 0-2.6-.6-3.4-1.4L40.9 81.6c-.8-.8-1.4-2.3-1.4-3.4V41.5c0-1.1.9-2 2-2h36.7c1.1 0 2.6.6 3.4 1.4l133.5 133.5c.8.8 1.4 2.3 1.4 3.4v36.7zm0-96c0 1.1-.6 1.4-1.4.6l-78.2-78.2c-.8-.8-.5-1.4.6-1.4h77c1.1 0 2 .9 2 2v77z")
			div.subtitle Video streaming, made easy.
		a.button(href="#")
		footer
			span.made Made with &#10084; by 
				a(href="https://github.com/Winneon") Winneon
				| . 
			span.github View on 
				- var github = "https://github.com/Winneon/shows.js"
				a(href=github) Github
				a(href=github) &nbsp;&#10132;
	div.buttons
		if user
			a.webapp(href="/connect/rooms") Open Web-App
			a.logout(href="/logout") Logout
		else
			a.login(href=auth_url) Login with Discord
block js
	script.current(type="text/javascript", src="/js/index.js")