@import "core";
@import "animations";

section.content {
	display: flex;
	align-items: center;

	& > div {
		position: relative;
		margin: 0px auto;
		text-align: center;
	}
}

div.subtitle {
	position: relative;
	left: 10px;
	margin-top: 50px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}