@import "core";

body {
	width: 100%;
	height: 100%;
	color: #AFB0B2;
	font-family: "Roboto";
	font-weight: 400;
}

a {
	color: #FFFFFF;
	text-decoration: none;

	&.header_button {
		-webkit-app-region: no-drag;
		display: inline-block;
		background-color: #3E4146;
		border-radius: 2px;
		font-size: 14px;
		font-weight: 700;
		margin: 13px 20px;
		padding: 8px 15px;
		color: inherit;
		text-transform: uppercase;
		text-decoration: none;
		-webkit-transition: all .1s;
		-moz-transition: all .1s;
		-ms-transition: all .1s;
		transition: all .1s;

		span.arrow {
			display: inline-block;
			position: relative;
			top: 1px;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		&:hover {
			background-color: #474B50;
		}

		&:active {
			-webkit-transform: translateY(1px);
			-moz-transform: translateY(1px);
			-ms-transform: translateY(1px);
			transform: translateY(1px);
		}
	}
}

input {
	background-color: transparent;
	border: none;
	padding: 0px;
	color: #EFEFEF;
	font-family: "Roboto";
	font-size: inherit;
}

header {
	display: block;
	background-color: #2E3136;
	border-bottom: 1px solid #3E4146;
	position: absolute;
	top: -61px;
	width: 100%;
	height: 60px;
}

header section.right {
	float: right;
}

header section.window_buttons {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0px;
	height: 100%;
}

header section.window_buttons > svg {
	-webkit-app-region: no-drag;
	fill: #AFB0B2;
	width: auto;
	height: 20px;
	margin: 0px 5px;

	&:last-of-type {
		margin-right: 20px;
	}

	&:hover {
		fill: #FFFFFF;
		cursor: pointer;
	}
}

section.main {
	overflow: hidden;
}

section.content {
	position: absolute;
	top: 61px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}