* {
	margin: 0px;
	padding: 0px;

	&:active,
	&:focus {
		outline: none;
	}
}

html,
body,
section.main {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto";
	font-weight: 500;
}

svg.logo {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	fill: #FFFFFF;
	width: 128px;
	height: 128px;
}

span.title,
span.service,
span.hostname,
span.port,
section.content_temp {
	display: none;
}


@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("/font/robotoregular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url("/font/robotoregularitalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("/font/robotomedium.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url("/font/robotomediumitalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("/font/robotobold.ttf") format("truetype");
}


@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: url("/font/robotobolditalic.ttf") format("truetype");
}


@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: url("/font/robotoblack.ttf") format("truetype");
}


@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: url("/font/robotoblackitalic.ttf") format("truetype");
}