@import "client";

section.content {
	display: flex;
	align-items: center;
}

a.button {
	display: inline-block;
	background-color: #3E4146;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 700;
	margin: 13px 20px;
	padding: 8px 15px;
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	transition: all .1s;

	span.arrow {
		display: inline-block;
		position: relative;
		top: 1px;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	&:hover {
		background-color: #474B50;
	}

	&:active {
		-webkit-transform: translateY(1px);
		-moz-transform: translateY(1px);
		-ms-transform: translateY(1px);
		transform: translateY(1px);
	}
}

div.room {
	display: inline-block;
	position: absolute;
	height: 60px;
	color: #EFEFEF;
	font-size: 28px;
	font-weight: 900;
	line-height: 60px;

	&:before {
		content: "#";
		display: inline-block;
		margin-right: 1px;
		color: #AFB0B2;
		font-weight: 400;
	}
}

div.video {
	background-color: #1B1D1F;
	margin: 0px auto;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
}