extends /core
block head
	link(type="text/css", rel="stylesheet", href="css/rooms.css")
block body
	div.main
		div.title #
			span rooms
		div.subtitle Choose a room below, or create one yourself!
		table.rooms
			tr
				td
				td Room Name
				td Host
			tr
				td 
				td #
					span whitepower
				td Winneon
			tr
				td &#128274;
				td #
					span blackniggers
				td David
			tr
				td 
				td +
					span.new_room new_room
				td
		div.footer Made with &#10084; by&nbsp;
			a(href="https://github.com/Winneon") Winneon
			| .
block js
	script(type="text/javascript", src="js/rooms.js")